services:
  - type: web
    name: cardify-backend
    env: node
    rootDir: ./backend
    buildCommand: npm install && npm run build
    startCommand: node dist/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: CLIENT_URL
        value: https://cardify.vercel.app

databases:
  - name: cardify-db
    databaseName: cardify
    user: cardify
